@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


.section {
  font-family: "Jersey 15", serif;
  
}



@keyframes bounceAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.fadeOut {
  animation: fadeOut 0.6s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
 
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 480px) {
  
}


@media (max-width: 768px) {
  h1 {
    margin-bottom: 10px; 
  }
}